/* Сброс стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Стили для хедера */
header {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.3));
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

/*_____li______*/

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    display: inline-block;
    transition: transform 0.3s ease, padding 0.3s ease; /* Добавляем плавное изменение */
}

/* Стили при наведении */
nav ul li a:hover {
    transform: scale(1.02); /* Увеличиваем размер на 2% */
    padding: 10px 24px; /* Добавляем небольшой отступ, чтобы сохранить внешний вид */
}


/* Стили для блока товаров */
.form-center {
    text-align: center;
    margin-top: 20px;
}

.product-list {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
}

/* Стили для каждого товара */
.product {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 350px;
    margin-bottom: 20px;
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.product h3 {
    font-size: 20px;
    margin: 10px 0;
}

.product p {
    font-size: 16px;
    color: #666;
}

/* Кнопки */
.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.buttons2 {
    display: flex;
    justify-content: left;
    gap: 10px;
    margin-top: 20px;
}

/* Стиль для кнопки "Добавить в корзину" */
.add-to-cart {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 13px 20px;
    font-size: 16px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.add-to-cart i {
    margin-left: 8px;
}

.add-to-cart:hover {
    background-color: #45a049;
}

/* Стиль для кнопки "Добавить в избранное" */
.add-to-favorites {
    background-color: #ff3030;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 7px;
    margin-top: 3px;
}

.add-to-favorites i {
    font-size: 20px;
}

.add-to-favorites:hover {
    background-color: #e82c2c;
}

/*______Footer______*/
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

footer p {
    margin: 5px 0;
}

footer p:first-of-type {
    font-weight: bold;
}

/* Контейнер для изображения */
.container {
    position: relative;
    display: inline-block;
}

/* Псевдоэлемент для затемнения */
.container img {
    position: relative;
    transition: transform 0.3s ease; /* Плавное увеличение */
    cursor: pointer;
}

/* Затемнение при наведении на изображение */
.container:hover::before {
    content: '';
    position: fixed;  /* Фиксируем затемнение относительно экрана */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.12); /* Затемнение */
    z-index: 9; /* Затемнение поверх всех остальных элементов */
    pointer-events: none; /* Чтобы не блокировать клики */
    transition: opacity 0.3s ease, background-color 0.3s ease;
    opacity: 1; /* Начальное состояние затемнения */
}

/* Увеличение изображения при наведении */
.container:hover img {
    z-index: 10; /* Устанавливаем изображение поверх затемнения */
    transform: scale(1.1); /* Увеличиваем размер изображения */
}

/*_____Products_____*/

/* Стиль для секции товара */
.product-detail {
    display: flex;  /* Используем Flexbox для размещения текста и изображения рядом */
    justify-content: space-between;  /* Располагаем текст и изображение на противоположных сторонах */
    align-items: flex-start;  /* Выравнивание по верхнему краю */
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Информация о товаре (текст) */
.product-info {
    width: 50%;  /* Ширина блока с информацией о товаре */
    padding-right: 20px; /* Отступ справа, чтобы текст не был прижат к изображению */
}

.product-info h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.product-info .price {
    font-size: 24px;
    color: #4CAF50;
    margin: 10px 0;
}

.product-info .description {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.product-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.product-info ul {
    list-style-type: none;
}

.product-info ul li {
    font-size: 16px;
    margin: 5px 0;
}

/* Изображение товара */
.product-image {
    width: 25%;  /* Ширина блока с изображением */
    position: relative;  /* Для более точного контроля над расположением изображения */
    margin-top: 2px;  /* Немного приподнимем изображение вверх */
}

.product-image img {
    width: 100%;  /* Изображение будет занимать всю ширину родительского блока */
    height: auto;  /* Сохраняем пропорции изображения */
    border-radius: 8px;
    border: 5px solid #4CAF50;  /* Добавляем рамку */
}
/* Увеличение изображения при наведении */
.product-image:hover img {
    transform: scale(1.05); /* Увеличиваем размер изображения */
}

/*_____Favorite______*/

#favorites-page {
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

#favorites-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.favorite-item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    width: calc(33% - 20px); /* 3 колонки */
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s ease;
}

.favorite-item img {
    width: 100%;
    max-width: 150px;
    height: auto;
}

.favorite-item img:hover {
    transform: scale(1.02); /* Увеличиваем изображение на 2% */
}


.favorite-item h3 {
    font-size: 18px;
    margin: 10px 0;
}

.favorite-item .buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.favorite-item button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.favorite-item button:hover {
    background-color: #d32f2f;
}

.empty-message {
    text-align: center;
    font-size: 18px;
    color: #555;
    padding: 20px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.favorite-item i {
    cursor: pointer;
    font-size: 1.5em;
    color: #e74c3c;
}

.favorite-item i.fas.fa-times {
    color: white; /* Белый цвет для крестика */
}

/*_____contacts_____*/

/* Стили для страницы Контакты */
.contact-info {
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    max-width: 800px;
    margin: 20px auto;
}

.contact-info h2 {
    font-size: 26px;
    color: #333;
    margin-bottom: 20px;
}

.contact-details {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-details p {
    font-size: 18px;
    margin: 10px 0;
    color: #555;
}

.contact-details a {
    color: #4CAF50;
    text-decoration: none;
}

.contact-details a:hover {
    text-decoration: underline;
}

/* Социальные сети */
.social-links {
    margin-top: 10px;
}

.social-links a {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px 5px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.social-links a:hover {
    background-color: #45a049;
}

.social-links i {
    margin-right: 8px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

footer p {
    margin: 5px 0;
}

footer p:first-of-type {
    font-weight: bold;
}

/*_____Слайдер_____*/

/* Основные стили */
body2 {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Стили для слайдера */
.slider-container {
    position: fixed;
    top: 40%;
    right: 20px;
    transform: translateY(-50%);
    width: 20px;
    height: 200px;
    background-color: #ddd;
    border-radius: 10px;
}

.slider-track {
    width: 100%;
    height: 100%;
    background-color: #ccc;
    border-radius: 10px;
    position: relative;
}

.slider-thumb {
    width: 20px;
    height: 30px;
    background-color: #4CAF50;
    border-radius: 10px;
    position: absolute;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

/* Эффекты для слайдера */
.slider-thumb:hover {
    background-color: #45a049;
}

/* Убираем возможность выделения текста на всей странице */
body.no-select {
    user-select: none;
}

/*_____Pomni_____*/

/* Контейнер для изображения */
.product-image2 {
    width: 100%;
    position: relative;
    margin-top: 2px;
    display: flex;
    flex-direction: column; /* Вертикальное расположение элементов */
    align-items: flex-end; /* Выравнивание изображений по правому краю */
}

/* Основное изображение */
.main-image img {
    width: auto; /* Сохраняем пропорции */
    height: 500px; /* Фиксированная высота для основного изображения */
    border-radius: 8px;
    border: 5px solid #4CAF50;
}

/* Миниатюры */
.thumbnail-images {
    display: flex;
    flex-direction: row; /* Располагаем миниатюры в строку */
    margin-top: 10px;
    gap: 10px;
    justify-content: flex-end; /* Миниатюры выравниваются по правому краю */
}

.thumbnail {
    width: 60px;
    height: 60px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}

/* Псевдокласс для миниатюр при наведении */
.thumbnail:hover {
    border-color: #4CAF50;
}
